p.info {
	background-color: #dfdfdf;
	padding: 5px;
	color: navy;
	font-size: small;
}

h1 {
	color: white;
	text-shadow: 2px 2px 2px navy;
	padding: 10px;
}

p {
	color: navy;
}


h2 {
    font-family: cursive;
    color: #3f3faf;
    border: solid 1px black;
    margin: 5px 0;
    padding: 2px;
    background: linear-gradient(to bottom, white, #ffefaf);
}

div#zentai {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    column-gap: 10px;
    row-gap: 10px;
    width: 1024px;
}

div#zentai > div {
    background-color: #ffefaf;
    padding: 5px;
    box-sizing: border-box;
}

div#zentai img {
    float: right;
    width: 60px;
    margin-right: 10px;
}
